<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buttons</key>
	<array>
		<dict>
			<key>BundlePath</key>
			<string>/System/Installation/CDIS/Time Machine System Restore.app</string>
			<key>DescriptionKey</key>
			<string>If you have backup of your system that you want to restore.</string>
			<key>Path</key>
			<string>/System/Installation/CDIS/Time Machine System Restore.app/Contents/MacOS/Time Machine System Restore</string>
			<key>TitleKey</key>
			<string>Restore from Time Machine</string>
		</dict>
		<dict>
			<key>Arguments</key>
			<array>
				<string>-RunInOSIEnv</string>
			</array>
			<key>BundlePath</key>
			<string>/Install macOS Big Sur Beta.app</string>
			<key>IsInstallAssistant</key>
			<true/>
			<key>Path</key>
			<string>/Install macOS Big Sur Beta.app/Contents/MacOS/InstallAssistant</string>
		</dict>
		<dict>
			<key>BundlePath</key>
			<string>/Applications/Safari.app</string>
			<key>DescriptionKey</key>
			<string>Browse Apple Support to get help with your Mac.</string>
			<key>Path</key>
			<string>/Applications/Safari.app/Contents/MacOS/Safari</string>
			<key>TitleKey</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>BundlePath</key>
			<string>/System/Applications/Utilities/Disk Utility.app</string>
			<key>DescriptionKey</key>
			<string>Repair or erase a disk using Disk Utility.</string>
			<key>Path</key>
			<string>/System/Applications/Utilities/Disk Utility.app/Contents/MacOS/Disk Utility</string>
			<key>TitleKey</key>
			<string>Disk Utility</string>
		</dict>

		<dict>
			<key>BundlePath</key>
			<string>/Applications/Hax3.app</string>
			<key>DescriptionKey</key>
			<string>Installer fix through ASentientBot HaxLib dylib</string>
			<key>Path</key>
			<string>/Applications/Hax3.app/Contents/MacOS/Hax3</string>
			<key>TitleKey</key>
			<string>Hax3 Installer fix</string>
		</dict>

		<dict>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixesMenu.app</string>
			<key>DescriptionKey</key>
			<string>BigSurFixes by jacklukem GitHub</string>
			<key>Path</key>
			<string>/Applications/BigSurFixesMenu.app/Contents/MacOS/BigSurFixesMenu</string>
			<key>TitleKey</key>
			<string>BigSurFixes Menu</string>
		</dict>

		<dict>
			<key>BundlePath</key>
			<string>/Applications/OpenCoreAPFSloader4.app</string>
			<key>DescriptionKey</key>
			<string>4b on internal disk customized by jackluke MacRumors</string>
			<key>Path</key>
			<string>/Applications/OpenCoreAPFSloader4.app/Contents/MacOS/OpenCoreAPFSloader4</string>
			<key>TitleKey</key>
			<string>Install OpenCoreAPFSloader</string>
		</dict>

	</array>
	<key>Menu</key>
	<array>
		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/System/Applications/Utilities/Startup Security Utility.app</string>
			<key>Path</key>
			<string>/System/Applications/Utilities/Startup Security Utility.app/Contents/MacOS/Startup Security Utility</string>
			<key>TitleKey</key>
			<string>Startup Security Utility</string>
		</dict>
		<dict>
			<key>BundlePath</key>
			<string>/System/Applications/Utilities/Terminal.app</string>
			<key>Path</key>
			<string>/System/Applications/Utilities/Terminal.app/Contents/MacOS/Terminal</string>
			<key>TitleKey</key>
			<string>Terminal</string>
		</dict>
		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/System/Installation/CDIS/Share Disk.app</string>
			<key>Path</key>
			<string>/System/Installation/CDIS/Share Disk.app/Contents/MacOS/Share Disk</string>
			<key>TitleKey</key>
			<string>Share Disk…</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/System/Library/CoreServices/VoiceOver.app</string>
			<key>Path</key>
			<string>/System/Library/CoreServices/VoiceOver.app/Contents/MacOS/VoiceOverStarter</string>
			<key>TitleKey</key>
			<string>VoiceOver</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/smc.app</string>
			<key>Path</key>
			<string>/Applications/smc.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>Fans speed for CPU cooling</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/Hax3.app</string>
			<key>Path</key>
			<string>/Applications/Hax3.app/Contents/Resources/hax3</string>
			<key>TitleKey</key>
			<string>Hax3 Installer quick fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Install macOS Big Sur Beta.app</string>
			<key>IsInstallAssistant</key>
			<true/>
			<key>Path</key>
			<string>/Install macOS Big Sur Beta.app/Contents/MacOS/InstallAssistant</string>
			<key>TitleKey</key>
			<string>Install macOS Big Sur</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixesBootfix.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixesBootfix.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes Boot plist fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes snapshot booting</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes2.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes2.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes disable snapshot</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes3.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes3.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes opencore preboot</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes4.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes4.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes Legacy USB patches</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes5.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes5.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes delete snapshot</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixes6.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixes6.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes graphics framebuffer</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixesiSight.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixesiSight.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes iSight camera fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurFixesFramework.app</string>
			<key>Path</key>
			<string>/Applications/BigSurFixesFramework.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSurFixes Frameworks patch</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurstage2fix.app</string>
			<key>Path</key>
			<string>/Applications/BigSurstage2fix.app/Contents/MacOS/BigSurstage2fix</string>
			<key>TitleKey</key>
			<string>BigSur stage2 installer fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/BigSurstage3fix.app</string>
			<key>Path</key>
			<string>/Applications/BigSurstage3fix.app/Contents/Resources/script</string>
			<key>TitleKey</key>
			<string>BigSur stage3 installer fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/OpenCoreAPFSloader4.app</string>
			<key>Path</key>
			<string>/Applications/OpenCoreAPFSloader4.app/Contents/MacOS/OpenCoreAPFSloader4</string>
			<key>TitleKey</key>
			<string>Install OpenCoreAPFSloader4b</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/OpenCoreAPFSloader4b1.app</string>
			<key>Path</key>
			<string>/Applications/OpenCoreAPFSloader4b1.app/Contents/MacOS/OpenCoreAPFSloader4b1</string>
			<key>TitleKey</key>
			<string>Update OC config 4b1 ACPI fix</string>
		</dict>

		<dict>
			<key>ARM-Only</key>
			<false/>
			<key>BundlePath</key>
			<string>/Applications/OpenCoreAPFSloader3.app</string>
			<key>Path</key>
			<string>/Applications/OpenCoreAPFSloader3.app/Contents/MacOS/OpenCoreAPFSloader3</string>
			<key>TitleKey</key>
			<string>Install OpenCoreAPFSloader3</string>
		</dict>

	</array>
</dict>
</plist>
